*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

// pages
@import "../style/pages/home.scss";




// components
@import "../style/components/header.scss";