header{
    background-color: rebeccapurple;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80px;
    ul{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        li{
            a{
                color: #fff;
            }
        }
    }
}